/*-------------------------------------------------*/
/*------style sheet for printcss.htm---------------*/
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*------global styling-----------------------------*/
/*-------------------------------------------------*/


/* global reset */
* {
    margin: 0px;
    padding: 0px;
}  /*为什么做这个？： http://www.w3schools.com/css/css_align.asp*/
/*原因：Tip: When aligning elements with position, 【always define margin and padding for the <body> element】. */
/*This is to avoid visual differences in different browsers.*/
/*  所以这个是规范！！（见↑）*/


body {
    font-family: Georgia, "Times New Roman", serif;
}

p {  /* 这两条都是<p>的default value参见：http://www.w3schools.com/tags/tag_p.asp  */
    /* 但是因为上面global styling重设了，所以这里还要补上关键属性 */
    display: block;  /*这个确实没必要写*/
    margin-bottom: 1em;  /*这个需要重设*/
}

/* responsive image code adapted from http://tutorials.jenkov.com/responsive-mobile-friendly-web-design/responsive-images.html */
img.responsive {/* 但是这一次并没有用到 ★！！ */
    /* width: 100%; */
    max-width: 300px;  /* width vs max-width:  见W3Schools--responsive design */
    height: auto;
    margin: auto;
}

.imageHolder {
    /* border: solid 2px black; */
    clear: both;
    max-width: 300px;

    margin-bottom: 1em;

    margin-right: auto;
    margin-left: auto;  /* 居中 */

    text-align: center;
}

p.caption {
    /* border: solid 2px red; */
    clear: both;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
}

/*-------------------------------------------------*/
/*------styling by section-------------------------*/
/*-------------------------------------------------*/
#banner {
    background-color: #73AFB6;
    font-family: Garamond, "Times New Roman", serif;
    width: 100%;
}

#banner h1, h2 {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#banner h1 {
    color: #ffffff;
    font-size: 3.5em;
}

#banner h2 {
    color: #E2DA99;
    font-size: 2em;
    padding-bottom: 15px;
}

#container {  /* 联合使用 max-width和margin:auto是惯用法 == 居中！！   参见: http://www.w3schools.com/css/css_max-width.asp   */
    margin-right: auto;
    margin-left: auto;  /* 试了一下，这两行和margin: auto效果一样———就是居中的意思  */
    max-width: 960px;
}

#globalNav {
    border-bottom: solid 2px #342800;  /* 黑色下划线 */
    font-family: Verdana, Arial, sans-serif;

    /* 留空: */
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#globalNav span {  /* descendant 选择器！ */
    padding-right: 10px;
}

#globalNav a:link {  /* descendant 选择器+伪类 */
    color: #342800;
    text-decoration: none;
}

#globalNav a:hover {
    /* color: #73AFB6; */
    /* text-decoration: underline #73AFB6; */
    border-bottom: solid 2px #73AFB6;
}

#localNav {
    float: left;    /* ★这是我一直在找的关键！！！和下面float:right配合使用！★ */
    height: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
}

#localNav ul {  /* descendant 选择器 */
    list-style-type: none;
}

#content {
    float: right;  /* ★这是我一直在找的关键！！！★ */
    width: 80%;
}

#footer {
    background-color: #5E9CA0;

    clear: both;  /* 这应该是footer的【惯用法】了！★ */

    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
}