<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Steve Paling: Peripatetic Pedagogue</title>
        <link rel="stylesheet" type="text/css" href="css/p1m3.css">
    </head>

    <body>
    <div id="banner">
        <h1>Steve Paling:</h1>
        <h2>Peripatetic Pedagogue</h2>
    </div> <!-- end banner div -->
        
	<div id="container">
        <div id="nav">
            <!-- relative path -->
            <span><a href="index.html">Home</a></span>
            <!-- absolute path -->
            <span><a href="http://infosci.cornell.edu/faculty/steve-paling">My Cornell Bio</a></span>
            <!-- relative path -->
            <span><a href="dox/1300SyllFall15.pdf">Sample Syllabus</a></span>
            <span><a href="tricks.htm">Styling Tricks</a></span>
        </div> <!-- end nav div -->
        
        <div id="content">
            
        </div> <!-- end content div -->
        
    </div> <!-- end container div -->
        
    <!--<div id="footer">
        <p>All original content copyright 2015 Steve Paling. Other content from <a href="http://randomtextgenerator.com/">http://randomtextgenerator.com/</a></p>
    </div> --> <!-- end footer div -->
        
    </body>

</html>
